.Rproj.user
.Rhistory
.RData
.Ruserdata
Final Assignment/PyCode/.DS_Store
Final Assignment/Output/Output.synctex-Arjun’s MacBook Pro.gz
Final Assignment/Output/Output.synctex.gz
Final Assignment/PyCode/.idea/deployment.xml
Final Assignment/PyCode/.idea/sshConfigs.xml
Final Assignment/PyCode/.idea/webServers.xml
Final Assignment/.DS_Store
Assignment 3/.DS_Store
Assignment 2/.DS_Store
